<h1>Books</h1>

<%= link_to new_book_path, class: "btn btn-primary btn-add" do %>
  <i class="fas fa-plus"></i>
  <span class="btn-add-text">Add new book</span>
<% end %>

<div id="books" class="model-container">
  <% @books.each do |book| %>
    <%= link_to book, class: "model-item" do %>
      <figure>
        <img src="https://static-00.iconduck.com/assets.00/open-book-icon-2048x2048-wuklhx59.png" alt="default-book-icon">
      </figure>
      <div>
        <h2> <%= book.name %> </h2>
        <p><strong>By: </strong><%= book.author %></p>
        <% if book.taken? %>
          <span class="badge badge-pill badge-warning">Taken</span>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<%== pagy_nav(@pagy) %>

