<div id="<%= dom_id loan_book %>">
  <p>
    <strong>Book:</strong>
    <%= loan_book.book_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= loan_book.user_id %>
  </p>

  <p>
    <strong>Loan date:</strong>
    <%= loan_book.loan_date %>
  </p>

  <p>
    <strong>Return date:</strong>
    <%= loan_book.return_date %>
  </p>

  <% if loan_book.return_date.nil? %>
    <%= button_to "Mark as return", loan_book, method: :put %>
  <% end %>


</div>
