<h1>Loan books</h1>
<div class="loan-options">
  <div class="dropdown">
    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Filter by user
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%= link_to "All users", loan_books_path, class: "dropdown-item"%>
      <% @users.each do |user| %>
        <%= link_to user.email, loan_books_path(user: user.id), class: "dropdown-item" %>
      <% end %>
    </div>
  </div>
  <%= link_to new_loan_book_path, class: "btn btn-primary btn-add" do %>
    <i class="fas fa-plus"></i>
    <span class="btn-add-text">Add new loan book</span>
  <% end %>
</div>
<div id="loan_books" class="model-container">
  <% @loan_books.each do |loan_book| %>
    <%= render loan_book %>
  <% end %>
</div>

<%== pagy_nav(@pagy) %>

